.header-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  padding: $gap 0;

  &__container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: $gap;
    align-items: center

    @extend %container;
  }
}