.header-content {
  position: relative;
  z-index: 1;

  &__container {
    @extend %container;
  }
  &__title {
    text-align: center;
    margin: 0 0 63 0;
  }
  &__actions {
    display: flex;
    justify-content: center;
    gap: $gap;
  }
}